

#name {
	text-align: center;
	font-family: Verdana, sans-serif;
	color: #467284;
	padding-bottom:10px;
}

#menu li a {
	background:#FF8C00;
  color:#FFF;
	border-color:#FFF;
	border-bottom: 0px;
}

#menu li a:hover {
		background:#EE6A00;
}

#menu li.active a, #menu li.active a:hover {
	font-weight: bold;
	color: black;
	background:#FFE4C4;
}

a{
color: #467284;
}

#photo {
	margin: 0px 0px;
	width: 80%;
	/*-webkit-border-radius: 5px;*/
	/*-moz-border-radius: 5px;*/
	/*border-radius: 5px;*/
}

.sidebar-button {
	padding: 1px 5px;
	font-size: 13px;
	line-height: 1.6;
	border-radius: 4px;
	vertical-align: 26%;
	color: #fff;
	background-color: #467284;
	font-weight: bold;
}

.sidebar-button:hover {
	color: #fff;
	background-color: #2a6496;
}

#mainContent {
	background:#FFE4C4;
}

span.date{
	font-style: italic;
}

#info {
	/*border: 1px solid orange;*/
	/*background:orange;*/
	/*background:#FFF;*/
	background:#FFE4C4;
}

#vis {
	border: 1px solid orange;
	/*background:#FFE4C4;*/
	background:#FFF;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding-left: 37px;
}

#vis a:hover {
	text-decoration: none;
}

#page {
	border: 1px solid #FFF;
	background:#FFF;
}
.page {
	padding-top: 10px;
	padding-bottom: 10px;
}
