div {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

nav{
      float:left;
      width:100%;
      /*background:#EFF4FA;*/
      font-size:93%;
}
nav ul {
	margin:0;
	padding:10px 10px 0 300px;
	list-style:none;
}
nav li {
      display:inline;
      margin:0;
      padding:0;
}
nav a {
  float:left;
  background:url("tableftI.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 5px;
  text-decoration:none;      
}
nav a span {
      float:left;
      display:block;
      background:url("tabrightI.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
}
nav a:hover {
		background-position:0% -42px
}
nav a:hover span {
      background-position:100% -42px;
}

#name {
	text-align: center;
	/* margin-left: 5px; *
	padding-top: 5px;
	font-size: 16px; */
	font-family: Verdana, sans-serif;
	color: #668284;
}
.page{
	float: right;
	width: 100%;
	height: 600px;
	background-color: #FFE4C4;
	/*#F4EBC3;*/
	margin-bottom: 10px;
}
.little_info {
	float: left;
	width: 25%;
	height: 400px;
	/*background-color: #668284;*/
	background:#EFF4FA;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 10px;
}
.little_info p {
	margin-left: 5px;
	margin-right: 5px;
	/*margin-top: -10px;*/
	font-family: Garamond, serif;
	color: #000000;
}
.content {
	float: right;
	margin-top: 20px;
	width: 73%;
	height: 400px;
	background-color: #ffffff;
	margin-bottom: 10px;
	margin-right: 10px;
}
.content p {
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

