<ul class="nav nav-tabs nav-justified" id="menu">
  <li {% if page.title == 'Home' %} class="active" {% endif %} ><a href="index.html">Home</a></li>
  <li {% if page.title == 'Education' %} class="active" {% endif %} ><a href="education.html">Education</a></li>
  <li {% if page.title == 'Projects' %} class="active" {% endif %} ><a href="projects.html">Projects</a></li>
  <li {% if page.title == 'Honors &amp; Awards' %} class="active" {% endif %} ><a href="honors.html">Honors &amp; Awards</a></li>
</ul>
