<div class="col-md-12" id="vis">

  <p><h3>Natalia Tymchuk</h3></p>
  <p><strong>Ph.D. Student @ REVEAL</strong></p>

  <img class="displayed" src="photo.png" alt="..."  id='photo'>
  <p><strong>Address:</strong></p>
  <p> University of Lugano(USI)</p>
  <p>  Via G. Buffi 13, Lugano, 6904</p>
    <br>
    <p>Office 3.08 @ Via S. Balestra 22</p>

  <p> <strong>E-mail:</strong> <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'n'+'a'+'&'+'#'+'1'+
'1'+'6'+';'+'%'+'6'+'&'+'#'+'4'+'9'+';'+'l'+'i'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'4'+'6'+';'+'%'+'7'+'&'+
'#'+'5'+'2'+';'+'y'+'m'+'c'+'h'+'&'+'#'+'3'+'7'+';'+'7'+'5'+'&'+'#'+'1'+'0'+'7'+';'+'&'+'#'+'6'+'4'+
';'+'u'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'5'+';'+'&'+'#'+'5'+'1'+';'+'i'+'&'+'#'+'4'+'6'+';'+'%'+'6'+
'3'+'h'+"'"+'>'+'n'+'a'+'&'+'#'+'1'+'1'+'6'+';'+'a'+'l'+'i'+'a'+'&'+'#'+'4'+'6'+';'+'t'+'y'+'m'+'c'+
'h'+'u'+'&'+'#'+'1'+'0'+'7'+';'+'&'+'#'+'6'+'4'+';'+'u'+'s'+'i'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+
'0'+'4'+';'+'<'+'/'+'a'+'>');</script><noscript>natalia(dot)tymchuk(at)usi(dot)ch</noscript></p>
<p>
  <a href="https://twitter.com/NataliaTymchuk" target="_blank"><i class="fa fa-twitter fa-2x"></i> </a>
  <a href="http://linkedin.com/in/nataliatymchuk" target="_blank"> <i class="fa fa-linkedin-square fa-2x"></i> </a>
  <a href="https://github.com/runadrag" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  <a href="https://www.facebook.com/runadrag" target="_blank"> <i class="fa fa-facebook-square fa-2x"></i> </a>
  <a class="btn sidebar-button" href="http://smalltalkhub.com/#!/~NataliaTymchuk" target="_blank">
    <i class="fa fa-code"></i> ST Hub
  </a>
</p>
</div>
